body {
  font-family: "IBM Plex Sans";
  font-weight: 400;
  font-size: 1.5rem;
  overflow: hidden;
  
  transition: background-color 0.3s, color 0.3s;
}

body.darkmode {
  color: gainsboro;
  background-color: #222828;
}

body.lightmode {
  color: #222828;
  background-color: gainsboro;
}

main {
  margin: 0 1rem 0 1rem;
}

.banner {
  font-weight: bold;
  background-color: red;
  text-align: center;
  margin: 0;
}

.logo-and-content {
  display: flex;
  align-items: flex-start;
  gap: 2rem; /* space between logo and content */
}

.content {
  margin-top: 1rem;
  flex: 1;
  text-align: left;
}

#logo {
  writing-mode: vertical-lr;
  text-orientation: upright;
  margin: 0 1rem 0 0;
  font-size: 3rem;
}

button {
  position: relative;
  top: 45px;
  padding: 0.5rem 1.1rem;
  border-radius: 10px;
  border: 1px solid currentColor;
  cursor: pointer;
  opacity: 0.5;

  background-color: transparent;
  color: inherit;
  font-size: 0.95rem;
  font-family: inherit;

  transition: opacity 0.2s;
}

button:hover {
  opacity: 0.75;
}

button:active {
  top: 46px;
  opacity: 1;
}

blockquote {
  font-family: "Times New Roman";
}
